Data acquisition/Height API Automation/API request Automation.json
[{"id":"49d987ce.a830a8","type":"tab","label":"Height API request","disabled":false,"info":""},{"id":"93e4cda.0ebff3","type":"http request","z":"49d987ce.a830a8","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":310,"y":220,"wires":[["6b5813ec.4b8dec","381464c6.32f44c"]]},{"id":"48523913.1ac398","type":"mysql","z":"49d987ce.a830a8","mydb":"533d48e5.ac20f8","name":"","x":1260,"y":240,"wires":[[]]},{"id":"7062128f.3b41ac","type":"mysql","z":"49d987ce.a830a8","mydb":"533d48e5.ac20f8","name":"","x":120,"y":80,"wires":[["42753c19.b8ebe4","1f79407b.c0ed7"]]},{"id":"c5983a36.fb0a48","type":"inject","z":"49d987ce.a830a8","name":"","props":[{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":false,"onceDelay":0.1,"topic":"SELECT * FROM `Height` WHERE Height.Height IS NULL LIMIT 1","x":110,"y":160,"wires":[["7062128f.3b41ac"]]},{"id":"42753c19.b8ebe4","type":"change","z":"49d987ce.a830a8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[0].Longitude","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":140,"wires":[["96545958.4d24b8"]]},{"id":"1f79407b.c0ed7","type":"change","z":"49d987ce.a830a8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[0].Latitude","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":80,"wires":[["a60c7594.b3e848"]]},{"id":"a60c7594.b3e848","type":"template","z":"49d987ce.a830a8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"https://api.open-elevation.com/api/v1/lookup?locations={{payload}}","output":"str","x":520,"y":80,"wires":[["a4cd7496.aefc58"]]},{"id":"96545958.4d24b8","type":"template","z":"49d987ce.a830a8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":",{{payload}}","output":"str","x":520,"y":140,"wires":[["e9f00e42.92752"]]},{"id":"e9f00e42.92752","type":"delay","z":"49d987ce.a830a8","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":680,"y":140,"wires":[["a4cd7496.aefc58"]]},{"id":"a4cd7496.aefc58","type":"join","z":"49d987ce.a830a8","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":810,"y":60,"wires":[["4b32497b.d3c058"]]},{"id":"4b32497b.d3c058","type":"change","z":"49d987ce.a830a8","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":120,"wires":[["93e4cda.0ebff3","324792fa.9b222e"]]},{"id":"780dfdc2.6e0cd4","type":"change","z":"49d987ce.a830a8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[0].ID","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":300,"wires":[["fb01bb05.64d4a8"]]},{"id":"fb01bb05.64d4a8","type":"join","z":"49d987ce.a830a8","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":",","joinerType":"str","accumulate":false,"timeout":"5","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":870,"y":300,"wires":[["2c438ba.7d7cc74"]]},{"id":"6b5813ec.4b8dec","type":"change","z":"49d987ce.a830a8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.results[0].elevation","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":360,"wires":[["b906e77d.8b10d8"]]},{"id":"2c438ba.7d7cc74","type":"function","z":"49d987ce.a830a8","name":"","func":"var re=/(\\d+),(\\d+)/;\nvar match=re.exec(msg.payload);\nmsg.topic =\"UPDATE Height SET `Height`= \"+ match[2] +\" WHERE Height.ID =\"+ match[1]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1060,"y":240,"wires":[["e38945f9.5d3df8","48523913.1ac398"]]},{"id":"e38945f9.5d3df8","type":"debug","z":"49d987ce.a830a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"topic","targetType":"msg","statusVal":"","statusType":"auto","x":1240,"y":320,"wires":[]},{"id":"11d373ea.17a94c","type":"template","z":"49d987ce.a830a8","name":"","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT * FROM `Height` WHERE Height.Height IS NULL LIMIT 1","output":"str","x":660,"y":220,"wires":[["226e4227.53044e"]]},{"id":"226e4227.53044e","type":"mysql","z":"49d987ce.a830a8","mydb":"533d48e5.ac20f8","name":"","x":840,"y":220,"wires":[["780dfdc2.6e0cd4"]]},{"id":"b906e77d.8b10d8","type":"delay","z":"49d987ce.a830a8","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":700,"y":360,"wires":[["fb01bb05.64d4a8"]]},{"id":"381464c6.32f44c","type":"change","z":"49d987ce.a830a8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.results[0].elevation","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":220,"wires":[["11d373ea.17a94c"]]},{"id":"324792fa.9b222e","type":"debug","z":"49d987ce.a830a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"url","targetType":"msg","statusVal":"","statusType":"auto","x":1100,"y":120,"wires":[]},{"id":"533d48e5.ac20f8","type":"MySQLdatabase","name":"Your Database","host":"example.org","port":"3306","db":"Your Database","tz":""}]