Data acquisition/Height API Automation/Height table migrate.json
[{"id":"4cf4aefb.92839","type":"tab","label":"Import lat lon to height","disabled":false,"info":""},{"id":"59e729cb.69e728","type":"inject","z":"4cf4aefb.92839","name":"","props":[{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"SELECT DISTINCT `Latitude`, `Longitude`FROM Acceleration AS acc WHERE acc.Latitude NOT IN(SELECT Latitude from Height) and acc.Longitude NOT IN(SELECT Longitude from Height) LIMIT 1","x":130,"y":120,"wires":[["309ed094.630c9"]]},{"id":"309ed094.630c9","type":"mysql","z":"4cf4aefb.92839","mydb":"533d48e5.ac20f8","name":"Edit your database here","x":310,"y":120,"wires":[["90673e82.e6462","3c2d2667.77dd6a","f271dd5.bb2de2","4605bded.eeb534","fc302d8e.fe1c3"]]},{"id":"90673e82.e6462","type":"change","z":"4cf4aefb.92839","name":"lat","rules":[{"t":"set","p":"topic","pt":"msg","to":"payload[0].Latitude","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":100,"wires":[["9dc76827.b42088"]]},{"id":"3c2d2667.77dd6a","type":"change","z":"4cf4aefb.92839","name":"long","rules":[{"t":"set","p":"topic","pt":"msg","to":"payload[0].Longitude","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":180,"wires":[["5fd91c.b73316e4"]]},{"id":"f271dd5.bb2de2","type":"template","z":"4cf4aefb.92839","name":"","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"INSERT INTO `Height`(`Latitude`, `Longitude`, `Height`) VALUES (","output":"str","x":560,"y":60,"wires":[["2237f4d1.48e5dc"]]},{"id":"4605bded.eeb534","type":"template","z":"4cf4aefb.92839","name":"","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":",","output":"str","x":550,"y":140,"wires":[["b4b46a5f.6c21a8"]]},{"id":"fc302d8e.fe1c3","type":"template","z":"4cf4aefb.92839","name":"","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":",NULL)","output":"str","x":550,"y":220,"wires":[["a82f3c39.e17ad"]]},{"id":"9dc76827.b42088","type":"delay","z":"4cf4aefb.92839","name":"","pauseType":"delay","timeout":"0.5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":700,"y":100,"wires":[["2237f4d1.48e5dc"]]},{"id":"b4b46a5f.6c21a8","type":"delay","z":"4cf4aefb.92839","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":690,"y":140,"wires":[["2237f4d1.48e5dc"]]},{"id":"5fd91c.b73316e4","type":"delay","z":"4cf4aefb.92839","name":"","pauseType":"delay","timeout":"1.5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":700,"y":180,"wires":[["2237f4d1.48e5dc"]]},{"id":"a82f3c39.e17ad","type":"delay","z":"4cf4aefb.92839","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":690,"y":220,"wires":[["2237f4d1.48e5dc"]]},{"id":"2237f4d1.48e5dc","type":"join","z":"4cf4aefb.92839","name":"","mode":"custom","build":"string","property":"topic","propertyType":"msg","key":"topic","joiner":"","joinerType":"str","accumulate":false,"timeout":"","count":"5","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":850,"y":60,"wires":[["fc3436c8.74e638","8d3eb250.5aad1"]]},{"id":"aab20b08.a8a2d8","type":"inject","z":"4cf4aefb.92839","name":"flush","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"topic","x":730,"y":320,"wires":[["2237f4d1.48e5dc"]]},{"id":"8d3eb250.5aad1","type":"mysql","z":"4cf4aefb.92839","mydb":"533d48e5.ac20f8","name":"Edit your database here","x":1070,"y":60,"wires":[[]]},{"id":"fc3436c8.74e638","type":"debug","z":"4cf4aefb.92839","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"topic","targetType":"msg","statusVal":"","statusType":"auto","x":920,"y":260,"wires":[]},{"id":"533d48e5.ac20f8","type":"MySQLdatabase","name":"Your Database","host":"example.org","port":"3306","db":"Your Database","tz":""}]