Data acquisition/GPS and Roughness Tracking/Node-RED_GPS_Automation.json
[{"id":"16f8c4f3.72177b","type":"tab","label":"GPS and Roughness","disabled":false,"info":""},{"id":"924c6045.6e28f","type":"mqtt in","z":"16f8c4f3.72177b","name":"Edit your Mqtt server node here","topic":"ku/daq2020/cosmic/suit","qos":"2","datatype":"utf8","broker":"1321e501.1851ab","x":170,"y":100,"wires":[["80229954.4adc68","82d734a7.97f2c8","cb83b4a7.4c4dd8"]]},{"id":"a12480ad.cf3aa","type":"debug","z":"16f8c4f3.72177b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"topic","targetType":"msg","statusVal":"","statusType":"auto","x":1000,"y":40,"wires":[]},{"id":"80229954.4adc68","type":"template","z":"16f8c4f3.72177b","name":"","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"INSERT INTO `Acceleration`(`Latitude`, `Longitude`, `Acceleration`, `Grouping`) VALUES (","output":"str","x":440,"y":60,"wires":[["68716f8e.755df"]]},{"id":"cb83b4a7.4c4dd8","type":"template","z":"16f8c4f3.72177b","name":"","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":")","output":"str","x":440,"y":140,"wires":[["dfa6a2ed.d3f32"]]},{"id":"82d734a7.97f2c8","type":"change","z":"16f8c4f3.72177b","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":100,"wires":[["13352c34.a21af4"]]},{"id":"13352c34.a21af4","type":"delay","z":"16f8c4f3.72177b","name":"","pauseType":"delay","timeout":"0.5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":630,"y":100,"wires":[["68716f8e.755df"]]},{"id":"dfa6a2ed.d3f32","type":"delay","z":"16f8c4f3.72177b","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":620,"y":140,"wires":[["68716f8e.755df"]]},{"id":"68716f8e.755df","type":"join","z":"16f8c4f3.72177b","name":"","mode":"custom","build":"string","property":"topic","propertyType":"msg","key":"topic","joiner":"","joinerType":"str","accumulate":false,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":830,"y":60,"wires":[["a12480ad.cf3aa","3c09fd07.890352"]]},{"id":"3c09fd07.890352","type":"mysql","z":"16f8c4f3.72177b","mydb":"533d48e5.ac20f8","name":"Edit your Database Here","x":1050,"y":100,"wires":[[]]},{"id":"1321e501.1851ab","type":"mqtt-broker","name":"Your MQTT Broker","broker":"MQTT_BROKER","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"533d48e5.ac20f8","type":"MySQLdatabase","name":"Your Database","host":"example.org","port":"3306","db":"Your Database","tz":""}]