Data acquisition/GPS and Roughness Automation/Node-RED-Mobile_GPS_tracking.json
[{"id":"e416c887.b92488","type":"tab","label":"GPS sender","disabled":false,"info":""},{"id":"91c3afec.1a439","type":"inject","z":"e416c887.b92488","name":"Subscribe","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":60,"wires":[["9b95fa9f.c19ee8"]]},{"id":"9b95fa9f.c19ee8","type":"sensor subscribe","z":"e416c887.b92488","sensor":"geolocation","freq":"1000","name":"GeoLocation","x":330,"y":60,"wires":[["51ee68b8.1e8328"]]},{"id":"51ee68b8.1e8328","type":"debug","z":"e416c887.b92488","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":550,"y":60,"wires":[]},{"id":"a965d8c6.92f9a8","type":"location","z":"e416c887.b92488","name":"","x":170,"y":180,"wires":[["bb8187b8.8d20b8"]]},{"id":"f125028a.79f3d","type":"inject","z":"e416c887.b92488","name":"Unsubscribe","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":100,"wires":[["9b95fa9f.c19ee8"]]},{"id":"bb8187b8.8d20b8","type":"mqtt out","z":"e416c887.b92488","name":"","topic":"ku/daq2020/cosmic/gps","qos":"","retain":"","broker":"1321e501.1851ab","x":460,"y":180,"wires":[]},{"id":"1321e501.1851ab","type":"mqtt-broker","name":"Your MQTT Broker","broker":"","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]